.navbar {
  font-size: 18px;
  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
  ul {
    margin-bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      list-style: none;
      float: right;
      a{
        color: #9d9d9d;
        float: right;
        height: 50px;
        padding: 15px 15px;
        line-height: 20px;
        &:hover{
          color: #ffffff;
        }
      }
    }
  }
}
